
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
    font-family: 'Kumbh Sans', sans-serif;
}
:root {
    --transition: all 0.7s ease;
    --yellow: #f9d342;
    --dark: #292826;
}
.content{
      width: 90%;
      margin: 0 auto;
      padding: 1%;
}
/* Navbar Css */
header .nav{
    background: #fff;
    padding: 1rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0px 4px 4px grey;
    z-index: 1;
}
header .nav .logo{
    color: darkgreen;
    font-family: cursive;
    margin-right: 2.5rem;
}
header .nav .nav-bar {
 list-style: none;
}
header .nav .nav-bar li{
   display: inline-block;
   padding: 0 2.5rem;
   text-align: center;
   
}
header .nav .nav-bar li a{
   color: yellowgreen;
   text-decoration: none;
   font-size: 120%;
   /* text-transform: uppercase; */
    display: block;
    transition: all 0.3s ease-out;
}
header .nav .nav-bar li a:hover {
   color: lime;
   transform: 0.4s ease;
   /* border-bottom: 2px solid yellowgreen; */
   color: #c5cae9;
   transform: rotate(6deg);
   /* text-decoration: none; */
}
.menu-icon a{
    text-decoration: none;
    color: darkgreen;
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    transition: all 0.3s ease-out;
}
.menu-icon a:hover {
    color: darkgreen;
     transform: rotate(6deg);
}
#menu-bar{
    padding: 0.1rem 0.5rem;
    font-size: 1.5rem;
    color: grey;
    border: 1px solid yellowgreen;
    border-radius: 5px;
    display: none;
}
/* hero section */

.hero-section{
    margin: 100px auto;
}
.main__content h1{
    font-size: 4rem;
    color: green;
    max-width: 500px;
    flex: 1 1 30rem;
    animation: content .8s linear 1.2s backwards;
}
.flex-container{
     max-width: 1200px;
     margin: 0 auto;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
     grid-column-gap: 65px;
}

@keyframes content {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
}
.main__content p {
     padding: 20px 0px;
     font-size: 1rem;
     color: black;
    animation: paragragh .1s linear 1.2s backwards;
}

@keyframes  paragragh{
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
}
.main__content h2 {
   font-size: 50px;
    animation: lead .4s linear 1.2s backwards;
}

@keyframes lead {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
}

.main__img--container {
    max-width: 100%;
    transform: rotate(-5deg);
    animation: slideImage .8s linear;
    margin-left: 0;
}

@keyframes slideImage {
    0% {
        opacity: 0;
        transform: translateX(0px);
    }
}

/* Search */
.search {
    max-width: 60%;
    position: relative;
    display: flex;
}

.searchTerm {
    max-width: 100%;
    border: 1px solid #141414;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #141414;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #141414;
    text-align: center;
    color: green;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.main__img--container {
    display: flex;
    float: right;
    max-width: 50%;
    text-align: right;
}
.img-two {
    position: relative;
    right: 79px;
    z-index: -1;
}

.clearfix{
    clear: both;
    float: none;
}
.hero-bottom{
    text-align: center;
}
.hero-bottom p{
    font-weight: bold;
}
/* Index CSS */
.index{
    margin-bottom: 0;
}
.img1{
    margin-top: 10%;
    float: left;
    width: 10%;
}
.img2{
    position: relative;
    width: 10%;
    float: right;
    bottom: 180px;
}
.literature{
    max-width: 50%;
    margin: 0% auto;
;
}

.literature h3{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 5%;
}
.literature p{
    text-align: center;
    font-size: 18px;
}

/* Static section */
.img-responsive {
    height: 100%;
   width: 100%;
}
.img-resize{
    width: 100%;
}
.img-radius{
     border-radius: 30px;  
}
.static{
    background-color: green;
}
.elect-lit{
    background-color: #fff;
    border-radius: 20px;
}
.elect-lit p{
    padding: 0px 40px;
    margin: 50px 40px;
    /* border-left: 2px solid green; */
}
.p1{
    border-left: 5px solid yellow;
  
}
.p2{
    border-left: 5px solid red;
}
.p3 {
    border-left: 5px solid yellow;
}

/* App. Advert Section */
.app_ad{
    margin-top: 30px;
}
.app-yellow{
    background-color: yellow;
    max-width: 90%;
    border-radius: 25px;
     margin: 0 auto;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
     grid-column-gap: 10%;
}
.margin-top{
    margin-top:10%;
    margin-bottom: 0px;
    margin-left: 90px;
   /* height: 500px; */
}
.app-img {
    transform: rotate(-5deg);
    animation: slideImage .8s linear;
    width: 50%;
    margin-left: 50%;
}

@keyframes slideImage {
    0% {
        opacity: 0;
        transform: translateX(0px);
    }
}
.img3{
    float: right;
    margin-right: 2%;
    margin-top: 1%;
    width: 10%;

}
.img4{
    width: 10%;
    margin-top: 0px;
    margin-left: 70px;
    text-align: left;
    position: relative;
    bottom: 100px;
    /* float: left; */
    /* margin-bottom: 100px; */

}
.app-info{
    width: 75%;
    margin: 20% 3% 0% 0%;
    /* padding: 20px; */
}
.app-info h3{
    font-size: 40px;
    padding: 5%;
    
}
.app-info img{
    margin-top: 10%;
    margin-left: 5%;
    
}
.img-reduce{
    display: flex;
    width: 40%;
    /* height: 50%; */
}
/* What we do section */
.we_do{
      max-width: 70%;
      margin: 0 auto;
      padding: 1%;
      text-align: center;
}
.we_do h2{
   border-bottom: 3px solid mediumseagreen;
   border-bottom-width: 1px 49px ;
   max-width: 70%;
   margin: 0 auto;
   font-size: 350%;
   font-weight: bold;
   color: mediumseagreen;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.list{
    max-width: 33%;
    float: left;
    margin-top: 2%;

}
.list ul{
 list-style: none;
}
.list ul li{
    padding: 10px 0px;
    font-size: 150%;
    
}
/* 1200px */
@media only screen and (max-width: 1200px) {

    html,
    body {
        font-size: 14px;

    }
}

/* 991px */
@media only screen and (max-width: 991px) {

    html,
    body {
        font-size: 12px;

    }

    header .nav .nav-bar li {
        display: inline-block;
        padding: 0 1.5rem;
    }
}

/* small devices(tables & phones) */
@media only screen and (max-width:768px) {
    #menu-bar {
        display: block;
    }

    .nav-bar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        background-color: #000;
        padding: 2rem;
    }

    .nav-bar.active {
        left: 0;
    }

    .nav-bar li {
        font-size: 2rem;
        padding: 1.2rem;
        margin: 1rem;
        background-color: lightcyan;
        border: 1px solid yellowgreen;
        width: 100%;
        border-radius: 0.8rem;
    }

}

/* 640px */
@media only screen and (max-width:640px) {}

/* 479px */
@media only screen and (max-width: 479px) {

    html,
    body {
        font-size: 10px;

    }
}


   /* Footer CSS */
.footer__container {
    background-color: #141414;
    padding: 60px 45px;
    margin: 0 0;
    width: 100%;
}

#footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links {
    width: 100%;
    padding-left: 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 4%;
    grid-row-gap: 4%;
    margin: 0 auto;

    
    
}

.footer__link--wrapper {
    display: flex;
    max-width: 100%;
    /* margin: 0 20%; */
}

 .footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 1%;
    text-align: left;
    max-width: 100%;
    box-sizing: border-box;
} 

.footer__link--items h2 {
    margin-bottom: 1%;
    /* width: 500px; */
}
.footer__link--items p {
    color: #fff;
    width: auto;
}

.footer__link--items>h2 {
    color: #fff;
}

.footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
}

/* Social Icons */
.social__icon--link {
    color: #fff;
    font-size: 24px;
    margin: 0 1%;
    width: 100%;
   
}
.social__icons {
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.social__icons h2{
    margin-bottom: 1%;
    color: #fff;
    
}





@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }
    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width:480px) {
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}
